.modall{
  width: 70%;
  height: fit-content;
  background-image: linear-gradient(to top, red, #155985) ;
  position: fixed;
  z-index: 5;
  color:white;
  top:0;
  left:150px;

}
.layout {
  background-image: linear-gradient(to top, #ff00ff, #155985) ;
  width: 100%;
  height:100vh;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation {
  width:50%;
}
.navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}




