.layout {
  background-image: linear-gradient(to top, #ff00ff, #155985) ;
  width: 100%;
  height:100vh;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation {
  width:20%;
}
.navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}




